{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>this is Plop !</h1>
    <turbo-frame id="the_frame_id">
        <div class="example-wrapper">
            <h1>Hello {{ tag }}! </h1>
            <p>
                <a href="{{ path('home') }}"> Go back to Home </a> <br />   
                This friendly message is coming from:
            </p>

            <ul>
                <li>Your controller at <code><a href="{{ '/home/symio/Developpement/Loamok/tuto/sfUxTurbo_copie/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/home/symio/Developpement/Loamok/tuto/sfUxTurbo_copie/templates/home/plop.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
            </ul>
        </div>
    </turbo-frame>
{% endblock %}