COMPOSE_PROJECT_NAME=sfuxturbo

# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=thisIsNotSecret
JWT_PASSPHRASE=thisIsNotSecret
###< symfony/framework-bundle ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="mysql://sfuxturbo__user:changeme_sfuxturbo_passwd@127.0.0.1:8806/sfuxturbo?serverVersion=mariadb-10.5.0"
DATABASE_URL="mysql://sfuxturbo__user:changeme_sfuxturbo_passwd@database:3306/sfuxturbo?serverVersion=mariadb-10.5.0"
###< doctrine/doctrine-bundle ###

###config docker dans compose à ajouter à votre .env###
###> docker ###
# Applicable time zone
TIMEZONE=Europe/Paris

### name of the docker network to use ###
# Docker network to be created beforehand with the command "docker network create tuto_sfuxturbo_default" 
# or whatever network name you want
DOCKER_NETWORK=tuto_sfuxturbo_default

###MariaDB ###
# external access port
MYSQL_EXT_PORT=8006
# root password
MYSQL_ROOT_PASSWORD=changeme
# database for the tuto
MYSQL_DATABASE=sfuxturbo
# user for the tuto
MYSQL_USER=sfuxturbo__user
# user password for the app
MYSQL_PASSWORD=changeme_sfuxturbo_passwd

###Nginx ###
# external access port for NGINX
# your instance of sfuxturbo will be accessible by http://localhost:8000 where 8000 is the configured external port
NGINX_EXT_PORT=8000

###PhpMyAdmin ###
# external access port for PhpMyAdmin
# your instance of PhpMyAdmin for sfuxturbo will be accessible by http://localhost:8001 where 8001 is the configured external port
PMA_EXT_PORT=8001

### Proxy conf ###
# proxy configuration
# leave commented or empty or delete all of this configuration if you are not using a proxy
# http proxy defines as: http://plop:tagada@proxy.exemple.com:8080
PROXY=''
# https proxy defines as: http://plop:tagada@proxy.exemple.com:8080
PROXYS=''
# 'no_proxy' for direct access
NO_PROXY='localhost,127.*'

###Encore ###
# external access port for NODE and Encore
NODE_EXT_PORT=8004

###SQLD ###
# external access port for wwwsqldesigner
# your instance of wwwsqldesigner for sfuxturbo will be accessible by http://localhost:8002 where 8002 is the configured external port
SQLD_EXT_PORT=8002

###< docker ###
